@keyframes img_shine {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}


@keyframes colorText {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
