.hotelFacialWrap {
  background: $black;
  color: $white;
  max-width: 1280px;
  p {
    color: $white;
  }
  .s1 {
    .bg-img {
      width: 100%;
      background-image: url(../images/hotelFacial_bg_pc_01.jpg);
      &:before {
        content: "";
        display: block;
        background: url(../images/hotelFacial_bg_pc_01_light.png) no-repeat top
          center;
        background-size: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        animation: img_shine 0.2s infinite;
      }
      @include l-767 {
        background-image: url(../images/hotelFacial_bg_mb_01.jpg);
        &:before {
          content: "";
          display: block;
          background: url(../images/hotelFacial_bg_mb_01_light.png) no-repeat
            top center;
          background-size: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          animation: img_shine 0.2s infinite;
        }
      }
    }
    &__title {
      @include l-414 {
        width: 80%;
      }
      @include l-375 {
        width: 70%;
      }
      @include l-375 {
        width: 70%;
      }
    }
    &__content {
      top: 50%;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
  .s2 {
    // padding-bottom: 200px;
    @include l-414 {
      padding-bottom: 50px;
    }
    .bg-img {
      width: 100%;
      background-image: url(../images/hotelFacial_bg_pc_02.jpg);
      &:before {
        content: "";
        display: block;
        background: url(../images/hotelFacial_bg_pc_02_light.jpg) no-repeat top
          center;
        background-size: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        animation: img_shine 0.2s infinite;
      }
      @include l-767 {
        background-image: url(../images/hotelFacial_bg_mb_02.jpg);
        &:before {
          content: "";
          display: block;
          background: url(../images/hotelFacial_bg_mb_02_light.jpg) no-repeat
            top center;
          background-size: 100%;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          animation: img_shine 0.2s infinite;
        }
      }
    }

    &__content {
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    &__facialSliderWrap {
      width: 50%;
      margin: auto;
      @include l-414 {
        width: 80%;
      }
    }
    &__facialSlider {
      color: $white;
      img {
        width: 100%;
      }

      // 解決圖片連在一起
      /* the slides */
      .slick-slide {
        margin: 0 27px;
      }
      /* the parent */
      .slick-list {
        margin: 0 -27px;
      }

      .slick-list {
        padding-bottom: 1rem;
      }
      .slick-dots {
        li {
          background: $primary;
          border: 1px solid $primary;
          opacity: 0.5;
        }
        .slick-active,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .s3 {
    padding-right: 10rem;
    padding-left: 10rem;
    @include l-414 {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    .adjust {
      position: absolute;
      z-index: 1;
      display: block;
      width: 100px;
      top: -200px;
      @include l-414 {
        top: -180px;
      }
    }
    .col1,
    .col2 {
      width: 50%;
      @include l-767 {
        width: 100%;
      }
    }
  }

  // lancome debug

  .eventpage_oto_wrapper .formfield label.error {
    display: none !important;
  }

  .f_label.form-field__label {
    text-align: left;
  }

  // IOS input樣式
  .eventpage_oto_wrapper .formfield .textinput {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  // input 提示文字
  .eventpage_oto_wrapper .selectboxit-container .selectboxit-text {
    text-align: left;
  }
  // 表單星號
  .required .f_label::after {
    margin-left: 0;
  }

  #loreal-compaign .ll-page-ABvilla {
    background: none;
  }
}

.eventpage_oto_wrapper .h2 {
  line-height: $line-height-s;
  margin: 0;
}
